
html, body {
    background-color: #6E8894 !important;
    color: #322944;
}

::selection {
    background: #322944;
    color: #F2FFF8;
}

.title {
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: bold;
    color: #322944;
}

.sub-title { 
    font-style: italic;
    text-align: center;
    color: #322944;
    margin-bottom: 8px;
}

.row {
    min-height: 286px;
}

.col-sm {
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Noto Sans KR', sans-serif;
}

.input-title {
    width: 100%;
    background-color: #85BAA1;
    color: #322944;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.input-text {
    width: 100%;
    height: 240px;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    background-color: #CEEDDB;
    color: #322944;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
}

.d-button {
    height: 30px;
    width: 100%;
    line-height: 28px;
    background-color: #85BAA1;
    color: #322944;
    float: left;
    text-align: center;
    position: absolute;
    top: 240px;
    transition: 0.1s;
}

.d-button:hover {
    background-color: #322944;
    color: #F2FFF8;
    cursor: pointer;
}

.d-button:active {
    background-color: #483D63;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.first-half {
    color: #322944;
    width: 50%;
    float: left;
    border-right: 1px solid #85BAA1;
}

.second-half {
    color: #322944;
    width: 50%;
    left: 50%;
    border-left: 1px solid #85BAA1;
}

.bottom-banner {
    height: 30px;
    width: 100%;
    line-height: 28px;
    background-color: #85BAA1;
    color: #322944;
    float: left;
    text-align: center;
    position: absolute;
    top: 240px;
    margin-bottom: 101px;
}

.swap-icon {
    right: 7px;
    top: 2px;
    bottom: 2px;
    position:absolute;
    cursor: pointer;
}

.margin-fix {
    width: calc(100% - 16px) !important;
}

.shift-adjust {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Console', monospace;
    cursor: pointer;
}

.drop-down {
    border: 0;
    background-color:#85BAA1;
    height: 30px;
    outline: none;
}

.footer {
    text-align: center;
    color: #322943;
    font-style: italic;
}

.footer a:link {
    text-decoration: none;
    color: #322943;
}

.footer a:visited {
    text-decoration: none;
    color: #322943;
}

.footer a:hover {
    text-decoration: underline; 
    color: #322943;
}

.footer a:active {
    text-decoration: underline;
    color: #322943;
}

/* ========= FLIPPING ANIMATION ======== */
.flip-container {
    perspective: 1000px;
}

.flip-container, .flipper, .front, .back {
	width: 100%;
	height: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
